In [2]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [3]:
csv_name = 'green_tripdata_2019-10.csv.gz'

In [11]:
df=pd.read_csv('green_tripdata_2019-10.csv.gz',compression='gzip')
df.info()

C:\Users\Najwa\AppData\Local\Temp\ipykernel_20652\3676447282.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('green_tripdata_2019-10.csv.gz',compression='gzip')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  object
 2   lpep_dropoff_datetime  476386 non-null  object
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 72.7+ MB

In [12]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
#input to sql only table column names
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [ ]:
#insert first chunk of data (100k row) to sql database
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000, compression='gzip')

#while there is data in chunks, input chunks to db
while True: 
        t_start = time()        
        df = next(df_iter)      
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')      
        t_end = time()  
        print('inserted another chunk, took %.3f second' % (t_end - t_start))

CPU times: total: 48.6 s
Wall time: 1min 29s

AttributeError: 'DataFrame' object has no attribute 'tpep_pickup_datetime'

0

CPU times: total: 2.19 s
Wall time: 10.5 s

1000